#TopNav {
    justify-content: center;
}

#topNavBar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1e2e2;
}

.topNavBarOption {
  font-size: 100%;
  border-color: black;
  border-width: 5px;
}
