#innerRect {
  margin-bottom: 5%;
  width: 100%;
  min-height: 40%;
  background: turquoise;
  z-index: inherit;
}

#hiddenText {
  visibility: hidden;
}

.topNavBar {
  display: flex;
}

#FeedSection {
  justify-content: center;
}
