.post {
    /* display: flex; */
    /* justify-content: center; */
    min-width: 100%; 
    list-style: none;
    padding: 10%;
    border-style: solid;
    border-width: thin;
    text-align: center;
}

.name {
    font-weight: 100;
}

.dateAndTime {
    font-weight: 700;
}